* {
	margin: 0;
	padding: 0;
}
body {
	min-width: 1180px;
	height:100vh;
	overflow-y: hidden;
	font-size:1rem;
	font-family: "Century Gothic","Lucida Grande","Microsoft YaHei","Trebuchet MS",Helvetica,Georgia,sans-serif;
}
/*head begin*/
.nav {
	width:100%;
	min-width: 100%;
	height:4.7rem;
	position: fixed;
	top:0;
}
.nav_bg {
	width:100%;
	height: inherit;
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 1;
}
.nav_wrap {
	width:1200px;
	height: inherit;
	margin: 0 auto;
	z-index: 2;
	position:absolute;
	top:0;
	left:50%;
	transform: translate(-50%,0);
}
.nav_logo img {
	width:4.2vmin;
	margin-left: 30px;
}
.nav_content li {
	width:5rem;
	padding-left:4rem;
	list-style-type:none;
	font-size:1.2em;
	color: #fff;
	text-align: center;
	line-height: 4.7rem;
}
.nav_content li a,
.nav_login a
 {
 	font-size: 1.2rem;
	color:#fff;
	cursor:pointer;
	text-decoration: none;
	z-index: 5;
}
.nav_bg,
.nav_logo img,
.nav_content li {
	float:left;
}
.nav_move,
.nav_login {
	float:right;
}
.nav_move {
	margin-top:1.4rem;
	margin-right: 1.8vw;
}
.nav_move div{
	width:1.5rem;
	height:3px;
	margin:4px;
	background-color: #ff9999;
}
.nav_login {
	width:12rem;
	height:3rem;
	margin-top:1.3rem;
	background: url(../images/login.png) no-repeat;
	background-size: 70%;
}
.nav_login a {
	margin:2.4em;
	line-height: 2.1rem;
}
/*mian begin*/
.main {
	position: absolute;
	height: 500vh;
	width:100%;
	top:0;
	z-index: -999;
}
.main_block {
	width: 100%;
	height:20%;
	position: relative;
	display: block;
}
.main_block_pic {
	width: 100%;
	height: 100%;
	float: left;
	z-index: -1;
}
.main_block_pic img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.main_block_wrap {
	width: 100%;
	position: absolute;
	top:30%;
	right: 10%;
}
.main_block_top {
	width:40%;
	min-width:200px;
	height: 110px;
}
.main_block_top p {
	width:200px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color:#fff;
	font-size: 1.6rem;
	background-color: #5E5E5E;
}
.main_block_top strong {
	color:#fff;
	font-size:3rem;
}
.main_block_top,
.main_block_top p,
.main_block_top strong {
	float:right;
}
.main_block_top strong span {
	color: #ff6060;
}
.main_block_text {
	width: 60%;
	clear: both;
	float:right;
	margin-top: 30px;
}
.text_bg {
	min-height: 30vmin;
	background: rgba(94,94,94,0.5);
	z-index: -1;
}
.main_block_text blockquote {
	margin-top: -30vmin;
	z-index: 1;
	padding:0 0 10px 20px;
}
.main_block_text blockquote h4
 {
 	color:#ff6060;
 	margin-right: 5px;
 	padding: 10px 0;
	float:right;
}
.main_block_text blockquote p {
	font-size: 1.2rem;
	text-align: right;
	line-height: 2rem;
	clear: both;
	color:#fff;
	margin-right: 5px;
}
.main_scroll {
	width:22px;
	position: fixed;
	top:50%;
	right: 3rem;
	transform: translate(0,-50%);
}
.main_scroll div {
	width: 22px;
	height: 22px;
	margin-bottom:22px;
	background-color: transparent; /* Can be set to transparent */
	border: 3px #fff solid;
	border-radius:50px;
}
.main_scroll div:hover {
	cursor: pointer;
}
/*section*/
.main_sec_wrap {
	right: 30%;
}
.main_sec_wrap .main_block_text p {
	text-align: left;
	padding-right: 20px;
}
.main_sec_wrap .main_block_text h2 {
	float: left;
	color: #ff6060;
}
.main_sec_wrap .main_block_text h2 span {
	color:#fff;
	background-color: #ff6060;
}
.main_thir_wrap .main_block_text h2 {
	float: right;
	color: #fff;
}
.main_thir_wrap .main_block_text h2 span {
	color: #ff6060;
	background-color: #fff;
}
.main_thir_wrap .main_block_text p {
	padding-top: 4%;
}
.main_four_wrap {
	right: 0;
	text-align: center;
}
.four_text_bg {
	height: 40vmin;
}
.main_four_wrap .main_block_text {
	width: 60%
	height: 100%;
	float: none;
	margin:0 auto;
}
.main_four_wrap .main_block_text blockquote h2 {
	float: left;
	left: 50%;
	transform: translate(-50%,0);
	color: #fff;
	background-color: #ff6060;
}
.main_four_wrap .main_block_text blockquote p {
	padding-top: 15px;
}
.main_four_wrap .main_block_text blockquote h2,
.main_four_wrap .main_block_text blockquote p {
	position: relative;
	top:-10vmin;
	text-align: center;
}
.main_sec_wrap,
.main_thir_wrap,
.main_four_wrap {
	top:45%;
}
.main_sec_wrap .main_block_text h2,
.main_thir_wrap .main_block_text h2,
.main_four_wrap .main_block_text blockquote h2 {
	margin-top:-5rem;
	font-size:3rem;
}
/*foot begin*/
.foot {
	width:100%;
	height: 500px;
	position: relative;
	top:400vh;
	clear: both;
	margin:0 auto;
	display: block;
}
.foot div,
.foot div img,
.foot div a {
	float: left;
}
.foot div {
	width: 26%;
	height: 100px;
	margin-left:20%;
	margin-top:5%;
}
.foot div a {
	font-size: 1.5rem;
	color: #999;
	text-align: center;
	text-decoration: none;
	line-height: 100px;
	padding-left: 10px;
}
.foot div a:hover {
	text-decoration: underline;
}
/*copyright begin*/
.copyright {
	width:100%;
	position: absolute;
	bottom: -400vh;
	clear: both;
	margin:0 auto;
	display: block;
}
.copyright p,
.copyright_wrap {
	width: 1200px;
	margin:0 auto;
	text-align: center;
}
.copyright p {
	line-height: 1.5rem;
}
/*login begin*/
.login_cover {
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index:6;
}
.login_open {
	width: 18rem;
	min-height: 20rem;
	position: fixed;
	top:50%;
	left: 50%;
	margin-top: -10rem;
	margin-left: -9rem;
	z-index:10;
	background: #fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.login_open form {
	margin: 1rem;
}
.login_open form i {
	width: 25px;
	height: 25px;
	float: right;
	cursor: pointer;
	background:url(../images/close.png) no-repeat;

}
.login_open form label {
	font-size: 1.6rem;
	color:#333;
	display: block;
	padding-bottom: 3px;
}
.login_open form input {
	width: 15.5rem;
	float: left;
	padding:0.5rem 0;
	margin:0.2rem 0;
}
.login_open form button {
	width: 15.5rem;
	height: 3rem;
	margin: 0 auto;
	padding: 0 0.5rem;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	cursor:pointer;
	background: #007FFF;
	font-size: 1.4rem;
	color: #fff;
}
.login_open form a{
	color:#007FFF;
	text-align: left;
	font-size: 0.8rem;
	margin:3px;
}
.login_open_sign {
	float:right;
	text-align: right;
}
.login_open form p,
.login_open form span {
	font-size: 0.9rem;
	clear: both;
	color: #333;
	margin-top:3rem;
}
/*sign_open begin*/
.sign_open {
	z-index: 16;
}
.sign_open form a {
	width:200px;
	display: block;
	text-align: center;
	margin:0 auto;
	padding-top: 10px;
}
/*backward begin*/
.nav_logined img {
	width: 40px;
	height: 40px;
	float:right;
	margin-top: 1rem;
}
.nav_logined_group {
	width: 4rem;
	padding: 1rem;
	position: absolute;
	top:100%;
	right: 0;
	background: #fff;
	border-radius:3px;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	 border:1px solid #999;
	 display: none;
}
.nav_logined_group ul li {
	height:2rem;
	text-align: center;
	line-height: 2rem;
	list-style:none;
	font-size: 1.2rem;
}
.nav_logined_group ul li:first-child {
	border-bottom: 1px dotted #ccc;
}
.nav_logined_group ul li a {
	color:#999;
	text-decoration: none;
}
.nav_logined_group ul li a:hover {
	color:#ff6060;
	text-decoration: none;
}